
    <header>
      <div class="logo ms-auto">
        <p>IT教材比較サイト~ミツカル~</p>
        <img src="/static/images/logo.png">
      </div>
      <nav class="navbar navbar-expand-xxl navbar-light ms-auto">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">トップページ</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="/profile">プロフィール</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="/login">ログイン</a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="/contact">お問い合わせ</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>